@import "src/scss/variables";

.root {
  font-family: "Meta Web Normal";
  padding-bottom: 20px;
  margin-left: 15px;
  padding-left: 20px;
  position: relative;
  @media #{$tablet} {
    border-left: 1px solid $light-gray;
    padding-left: 45px;
  }
}

.headerText {
  font-size: 24px;
  font-weight: normal;
  font-family: "Meta Web Normal";
  color: $dark-gray;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Meta Web Normal";
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
  }
}

.stepNumber {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: $white;
  border: 1px solid $light-gray;
  margin-right: 10px;
  position: absolute;
  left: -8px;
  top: 7px;
}

.completedStep {
  border-left-color: $accent;
  .stepNumber {
    background: $accent;
    border: none;
    top: 7px;
  }
  .headerText {
    color: $copy;
  }
  @media #{$mobile_only} {
    border-left: 1px solid $accent;
  }
}

.activeStep {
  .headerText {
    font-family: "Meta Web Bold";
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Meta Web Bold";
    }
    color: $dark-gray;
  }
  .stepNumber {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    font-size: 19px;
    text-align: center;
    color: $dark-gray;
    line-height: 31px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    float: left;
    margin-right: 10px;
    background: $white;
    border: none;
    top: 0;
    left: -15px;
  }
}

.firstStep {
  .stepNumber {
    &:before {
      display: block;
      content: "";
      background: $white;
      height: 10px;
      width: 10px;
      position: absolute;
      top: -11px;
      left: 2px;
    }
  }
  &.completedStep {
    .stepNumber {
      &:before {
        top: -10px;
      }
    }
  }
  &.activeStep {
    .stepNumber {
      &:before {
        display: none;
      }
    }
  }
}

.lastStep {
  .stepNumber {
    &:after {
      display: block;
      content: "";
      background: $white;
      height: 35px;
      width: 10px;
      position: absolute;
      top: 14px;
      left: 2px;
    }
  }
  &.activeStep {
    border-left-color: $white;
    .stepNumber {
      &:after {
        display: none;
      }
    }
  }
  &.completedStep {
    .stepNumber {
      &:after {
        top: 15px;
      }
    }
  }
}
