@import "src/scss/variables";

.close-modal {
  position: absolute !important;
  right: 2px;
  top: 2px;
}

.header {
  font-size: 24px;
  line-height: 30px;
  font-family: "Meta Web Bold";
  color: $copy;
  margin-bottom: 15px;
  //max-width: 540px; //this feels arbitrary... intended?

  &.hasCloseX {
    margin-right: 10px;
  }
}

.dialog {
  width: 100%;
  max-width: 640px;
  font-family: "Meta Web Normal";
  font-size: 15px;

  @media #{$tablet} {
    width: auto;
    min-width: 640px;
  }
}

.spinner {
  div {
    margin: 0 auto;
  }
}

.confirmLoadingState {
  transition: opacity 0.2s ease-out;
  opacity: 0.3;
}

.fadeinSpinner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.positionButtons {
  min-height: 50px;
}

.blueCircleIcon {
  border-radius: 10px;
  padding-top: 0 !important;
  .close-modal {
    border-radius: 36px;
    padding: 18px;
    background: #023f72;
    top: 10px;
    right: 10px;
    z-index: 1;
    &:before,
    &:after {
      background: $white;
    }
    &:before {
      top: 18px;
      left: 11px;
    }
    &:after {
      top: 11px;
      left: 18px;
    }
  }
}

.blueCircleIconHeader {
  height: 100px;
  background-image: radial-gradient(circle at 50% 0, #1e71ac, #00548a 99%);
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.iconCircle {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 40px);
  bottom: -40px;
  width: 80px;
  height: 80px;
  box-shadow: inset 0 0 11px 0 rgba(0, 0, 0, 0.2);
  border: solid 3px $white;
  border-radius: 80px;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  /*span {
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }*/
}
